<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlgoGo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>866A2C0B1D88F15400A4C18B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>866A2C271D88F15400A4C18B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>866A2C321D88F15400A4C18B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
